# requirements.txt for The Queue
# Version 1.0 - 2025-01-01

Flask==3.1.1
waitress==3.0.0
pyodbc==5.2.0
SQLAlchemy==2.0.41
python-dotenv==1.1.0
requests==2.32.3
requests-ntlm==1.3.0
requests-negotiate-sspi==0.5.2
